<%- include ("_partials/_header.ejs"); %>
    
        <div class="landing-container">
            <div class="landing">
            </div>
        </div>
    
<%- include ("_partials/_footer.ejs"); %>