<%- include ("../_partials/_header.ejs"); %>
<style>
    h1{
        text-align: center;
    }
</style>
<h1 >Welcome to Movie Booking System please sign in to continue</h1>
<%- include ("../_partials/_footer.ejs"); %>