
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Movie Booking System</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <link href="../css/style.css" rel="stylesheet" type="text/css" >
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@1,100&display=swap" rel="stylesheet">
    </head>
    
    <header>
        <div class="container">
            <h1 class="logo">Movie Booking System</h1>
            <nav>
                <ul>
                    <% if(title == 'home'){ %>
                        <li><a href="/catalog">Catalog</a></li>
                    <%}%>
                    <% if(title == 'catalog'){ %>
                        <li><a href="/">Home</a></li>
                        <li><a href="/checkout">cart</a></li>
                    <%}%>
                    <% if(title == 'checkout'){ %>
                        <li><a href="/">Home</a></li>
                        <li><a href="/catalog">Catalog</a></li>
                    <%}%>
                    
                </ul>
            </nav>
        </div>

    </header>


    <body>
