
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Movie Booking System</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <!-- <link href="../css/style.css" rel="stylesheet" type="text/css" > -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@1,100&display=swap" rel="stylesheet">
    </head>



    <body>
            <div class="navbar navbar-default navbar-static-top" role="navigation">
                 <div class="container">
                    <div class="navbar-header">
                    <a class="navbar-brand" href="/">Movie Booking System</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
            
                    <% if(currentUser != null){ %>
                        <li><a herf="#">Welcome <%= currentUser.username %>!</a></li>
                        <% if(currentUser.admin == true){ %>
                            <li><a href="/admin">Admin Portal</a></li>
                            <li><a href="/logout">Logout</a></li>
                        <%}else{%>
                            <li><a href="/catalog">Browse</a></li>
                            <li><a href="/cart/cart">Cart</a></li>
                            <li><a href="/logout">Logout</a></li>
                        <%}%>
                    <%}%>
                    <% if(currentUser == null){ %>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/login">Login</a></li>
                    <%}%>
                    </ul>
                </div>
            </div>
             



        <div class="container">

            <% if (error && error.length > 0){ %>
                <div class="alert alert-danger" role = "alert">
                    <%= error %> 
                </div>
            <%}%>
        
            <% if (info && info.length > 0){ %>
                <div class="alert alert-info" role = "alert">
                    <%= info %> 
                </div>
            <%}%>